<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <category label="31000">
    <setting                       type="lsep"      label="31001"/>    
    <setting id="refresh_size"     type="slider"    label="31020" default="200" range="0,5,1000" option="int" />
    <setting id="refresh_mode1"    type="enum"      label="31007" default="2"  lvalues="31111|31112|31113|31114|31115|31116"/>
    <setting id="refresh_first1"   type="slider"    label="31006" default="15" range="0,2,1440"   option="int" />
    <setting id="refresh_mode2"    type="enum"      label="31010" default="2"  lvalues="31111|31112|31113|31114|31115|31116|31117"/>
    <setting id="refresh_first2"   type="slider"    label="31009" default="5"  range="0,2,1440"   option="int" />    
    <setting                       type="lsep"      label="31002" />
    <setting                       type="action"    label="31003" action="RunScript($CWD/manual.py,addSeries)"     option="close" />
    <setting                       type="action"    label="31011" action="RunScript($CWD/manual.py,addEpisode)"   option="close" />
    
    <setting                       type="lsep"      label="31004" />
    <setting id="last_update1"     type="text"      label="31005" default="0" />
    <setting id="last_update2"     type="text"      label="31008" default="0" />
    <setting id="library"          type="folder"    label="31014" default="" />
    <setting id="notify"           type="bool"      label="31012" default="true" />
    <setting id="with_thumb"       type="bool"      label="31013" default="false"/>

    <setting id="stream_mode"      type="enum"      label="31030" default="0" lvalues="31031|31032|31033|31034"   />
  </category>

  <category label="30000">
    <setting                       type="lsep"      label="33000" />
    <setting id="lang_info"        type="enum"      label="33001" default="0" lvalues="33101|33102|33103|33104|33105|33106|33107|33108|33109|33110|33111|33112|33113|33114|33115|33116|33117|33118|33119|33120|33121|33122|33123"/>    
    <setting id="lang_subs"        type="enum"      label="33002" default="0" lvalues="33401|33402|33403|33404|33405|33406|33407|33408|33409|33410|33411|33412|33413|33414|33415|33416|33417|33418|33419|33420|33421|33422|33423|33424|33425|33426|33427|33428|33429|33430|33431|33432"/>    
    <setting                       type="lsep"      label="30004" />
    <setting id="sort_mode"        type="enum"      label="30400" default="3" lvalues="30401|30402|30403|30404|30405"/>
    <setting id="sort_direction"   type="enum"      label="30500" default="0" lvalues="30501|30502"/>
    <setting id="votes_above"      type="slider"    label="30302" default="5000" range="0,1000,100000" option="int"   />
    <setting                       type="lsep"      label="30001" />
    
    <setting id="year_above"       type="slider"    label="30200"   default="1930" range="1930,1,2030" option="int" />
    <setting id="year_below"       type="slider"    label="30201"   default="2030" range="1930,1,2030" option="int" />
    
    <setting                       type="lsep"      label="30002" />
    <setting id="rating_above"     type="slider"    label="30300"   default="0"     range="0, 0.1 ,10"   option="float" />
    <setting id="rating_below"     type="slider"    label="30301"   default="10"    range="0, 0.1, 10"   option="float" />    

    <setting                       type="lsep"      label="30003" />
    <setting id="genre_00"         type="bool"      label="30100"   default="false"/>
    <setting id="genre_01"         type="bool"      label="30101"   default="false"/>
    <setting id="genre_02"         type="bool"      label="30102"   default="false"/>
    <setting id="genre_03"         type="bool"      label="30103"   default="false"/>
    <setting id="genre_04"         type="bool"      label="30104"   default="false"/>
    <setting id="genre_05"         type="bool"      label="30105"   default="false"/>
    <setting id="genre_06"         type="bool"      label="30106"   default="false"/>
    <setting id="genre_07"         type="bool"      label="30107"   default="false"/>
    <setting id="genre_08"         type="bool"      label="30108"   default="false"/>
    <setting id="genre_09"         type="bool"      label="30109"   default="false"/>
    <setting id="genre_10"         type="bool"      label="30110"   default="false"/>
    <setting id="genre_11"         type="bool"      label="30111"   default="false"/>
    <setting id="genre_12"         type="bool"      label="30112"   default="false"/>
    <setting id="genre_13"         type="bool"      label="30113"   default="false"/>
    <setting id="genre_14"         type="bool"      label="30114"   default="false"/>
    <setting id="genre_15"         type="bool"      label="30115"   default="false"/>
    <setting id="genre_16"         type="bool"      label="30116"   default="false"/>
    <setting id="genre_17"         type="bool"      label="30117"   default="false"/>
    <setting id="genre_18"         type="bool"      label="30118"   default="false"/>
    <setting id="genre_19"         type="bool"      label="30119"   default="false"/>
    <setting id="genre_20"         type="bool"      label="30120"   default="false"/>
    <setting id="genre_21"         type="bool"      label="30121"   default="false"/>
    <setting id="genre_22"         type="bool"      label="30122"   default="false"/>
    <setting id="genre_23"         type="bool"      label="30123"   default="false"/>
    <setting id="genre_24"         type="bool"      label="30124"   default="false"/>
    <setting id="genre_25"         type="bool"      label="30125"   default="false"/>
    
    <setting                       type="lsep"      label="30006" />
    <setting id="episode_above"    type="slider"    label="30521" default="0"    range="0,5,1000"    option="int" />
    <setting id="episode_year_max" type="slider"    label="30522" default="2012" range="1930,1,2020" option="int" />
    
    <setting                       type="lsep"      label="30005" />
    <setting id="ignore_text"      type="text"      label="30511" source="auto" default=""/>
    <setting id="ignore_file"      type="file"      label="30512" source="auto" default=""/>
    
  </category>
  <category label="32000">
      <setting                     type="lsep"      label="32001" />
      <setting id="bundle_source"  type="folder"    label="32002" source="auto" default="{data}/Bundles"/>
      <setting                     type="action"    label="32003" action="RunScript($CWD/manual.py,loadBundles)"      option="close" />
      <setting                     type="lsep"      label="32004" />
      <setting id="package_file"   type="file"      label="32005" source="auto" default="{data}/Bundles"/>
      <setting                     type="action"    label="32006" action="RunScript($CWD/manual.py,loadPackageFile)"  option="close" />
      <setting id="package_link"   type="text"      label="32007" source="auto" default=""/>
      <setting                     type="action"    label="32008" action="RunScript($CWD/manual.py,loadPackageLink)"  option="close" />
      <setting                     type="lsep"      label="32011" />
      <setting id="package_text"   type="text"      label="32009" source="auto" default=""/>
      <setting                     type="action"    label="32010" action="RunScript($CWD/manual.py,loadImdbIdList)"  option="close" />
  </category>
  <category label="32100">
    <setting                       type="action"    label="32101" action="RunScript($CWD/manual.py,cleanLibrary)" option="close"/>
    <setting                       type="action"    label="32102" action="RunScript($CWD/manual.py,cleanCache)"   option="close"/>
    <setting                       type="action"    label="32103" action="RunScript($CWD/manual.py,cleanLogs)"    option="close"/>
  </category>
</settings>